html{
    height: 100%;
}


*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #f8ebf9;
    min-height: 100%;

}

/* main */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;

}
.mySlides img{
    height: 55vw;
    max-height: 30em;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border: solid rgba(0, 0, 0, 0.651);
    border-radius: 0.5em;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* The rest of the body */
#abouttitle{
    margin-top: 2em;
    font-size: clamp(0.2em, calc(0.8vw + 1rem), 3em);
    font-family: "Inclusive Sans", sans-serif;
    text-decoration: underline double;

}

#quote{
    margin-top: 2em;
    width: auto;
    text-align: center;
    font-size: clamp(0.2em, calc(0.5vw + 1rem), 3em);
    font-style: italic;
    line-height: 1.2;
    font-family: "Inclusive Sans", sans-serif;
    background-color: #fbf7f7ad;
    padding: 1em;
    border-radius: 1em;
    font-style: italic;

}

.maincontent{
    display: flex;
    gap: 1.5em;
    margin-top: 3em;
}
.maincontent .contentcontainer{
    text-align: center;
    padding: 1em;
    font-family: "Inclusive Sans", sans-serif;
    font-style: italic;
    line-height: 1.3;
    font-size: clamp(0.2em, calc(0.5vw + 1rem), 3em);
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;

}

#corevalues{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 3em;

}

.valuecontainer{
  display: flex;
  gap: 0.5em;
  padding: 1em;
  align-items: center;
  
}
#iconvalues{
  font-size: clamp(0.2em, calc(2vw + 1rem), 3em);
  color: #FFD700;
  font-weight: bold;
  border-radius: 50%;   
  padding: 0.5em; 
  background-color: rgba(128, 128, 128, 0.651);               

}
#valuetxt{
  font-family: "Inclusive Sans", sans-serif;

}
@media screen and (max-width:600px){
  .maincontent{
    display: flex;
    flex-direction: column;
  }
}