html{
    height: 100%;
}


*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f8ebf9;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F9F6F9;
    height: 5em;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    position: relative;
    font-family: 'Inter', sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: inherit;
}

#logo{
    font-size: 6vw;
    margin-left: 2px;
    margin-right: 28px;
}

.items{
    font-size: 2.3vw;
}

#donatebtnheader{
    background-color: #35EAF0;
    height: 2.5em;
    width: 4.3em;
    font-size: 3vw;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 300ms ease;
}
nav ul li.items a::after{
    content: '';
    width: 0;
    height:3px;
    background: #e976c6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li.items a:hover::after{
    width: 100%;
}

#donatebtnheader:hover{
    transform: scale(1.1);
}

#herosection{
    border: none;
    height: 55vw;
    width: 50vw;
    position: absolute;
    margin-top: 10vw;
    margin-left: 3vw;
    border-radius: 10px;
    background-color: #F9F6F9;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
}
#herotitle{

    font-family: "Inria Sans", sans-serif;
    font-weight: bold;

}
#herotext{
    margin-top: 20px;
    line-height: 1.1;
    font-family: "Inria Sans", sans-serif;
    font-size: 3vw;
}

.heroconatinerimg{
    position: absolute;
    left: 58vw;
    top: 22.5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.heroimg{
    border: none;
    width: 40vw;
    height: 26vw;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 300ms ease;

}
.heroimg:hover{
    transform: scale(1.1);
}

#heroimg1{
    background-image: url('images/help7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#heroimg2{
    background-image: url('images/help5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#supporttxt{
    margin-top: 20px;
    font-size: 3.5vw;
    color: #F018D3;
    font-family: "Inria Sans", sans-serif;

}
#arrow{
    font-size: 3.5vw;
    font-weight: bold;
}

#herobtn{
    background-color: #35EAF0;
    height: 2.5em;
    width: 5em;
    font-size: 3vw;
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 300ms ease;

}
#herobtn:hover{
    transform: scale(1.1);
}


#moneyraisedtxt{
    position: absolute;
    top: 90vw;
    left:18vw;
    font-size: 3.5vw;
    font-family: "Inria Sans", sans-serif;
    font-weight: 500;
}

footer{
    margin-top: auto;
    background-color: #FFFFFF;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items:start;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
.footercontainer ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    position: relative;
    font-family: 'Inter', sans-serif;

}


.footercontainer ul li a{
    text-decoration: none;
    color: inherit;
    font-family: "Inria Sans", sans-serif;
}

#logofooter{
    margin-right: 10px;
    font-size: 5vw;
    font-family: "Inria Sans", sans-serif;

}

#donatebtnfooter{
    background-color: #35EAF0;
    border: none;
    font-size: 4vw;
    margin-left: 5px;
    width: 15vw;
    height: 8vw;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 300ms ease;
} 

#donatebtnfooter:hover{
    transform: scale(1.1);
}

.footercontainer .Icons{
    display: inline-block;
    font-size: 3vw;
    justify-content: space-between;
    margin: 0px 10px;
    position: relative;
    left: 14vw;

}
.footercontainer .Icons a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: transform 300ms ease;
}
.footercontainer .Icons a:hover{
    transform: scale(1.1);
}


#watermark{
    font-size: 2vw;
    font-family: "Inria Sans", sans-serif;
    position: relative;
    margin-left: 10vw;
    

}



@media screen and (max-width: 640px) {
    #logo{
        font-size: 5vw;
        margin-right: 10px;
    }
    #herosection{
        position: absolute;
        position: absolute;
        top: 10vw;
        margin-left: 0;
        width: 100%;
        height: 60vw;

    }
    #herotext{
        font-size: 3.5vw;
        line-height: 1.5;
    }
    .heroconatinerimg{
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 8vw;
        top: 85vw;
    }
    #moneyraisedtxt{
        position: absolute;
        top: 120vw;
    }
    #logofooter{
        font-size: 3.5vw;
    }
    .footercontainer ul li{
        margin: 10px 10px;
        font-size: 3vw;
    }



}