html{
    height: 100%;
}


*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #f8ebf9;
    min-height: 100%;

}


/* Header */
nav{
    background-color: #F9F6F9;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100px;
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
nav li{
    height: 50px;
}
nav ul li a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: inherit;
    margin-top: 30px;
    position: relative;
}

nav li:first-child{
    margin-right: auto;
}
#logo{
    font-size: clamp(1.2em, calc(2vw + 1rem), 4em);
    
}

.items{
    font-size: clamp(0.2em, calc(0.2vw + 1rem), 1.8em);
}

#donatebtnheader{
    background-color: #35EAF0;
    height: auto;
    padding: 0.5em;
    font-size: clamp(0.2em, calc(0.5vw + 1rem), 1.5em);
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 300ms ease;
}
nav ul li.items a::after{
    content:"";
    height:3px;
    background: #e976c6;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    transition: 0.5s ease-in-out;
    transform: scaleX(0);
}

nav ul li.items a:hover::after{
    transform: scale(1);
}

#donatebtnheader:hover{
    transform: scaleX(1.1);
}
/* sidebar */
.itemssidebar li:not(:last-child):hover{
    background-color: #FFFFFF;
}

.sidebar{
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    z-index: 999;
    height: 100%;
    background-color: #f8ebf9da;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    transition: right 800ms cubic-bezier(0.2, 0.8, 0.2, 1); /* slower & smoother */

}
.itemssidebar{
    font-size: 1.4em;
    width: 100%;
}
#menu-icon{
    display: none;
}

/* Main */
#maincontainer{
    border: none;
    height: auto;
    text-align: center;
}
.herosectiondisplay{
    display: flex;
    gap: 3vw;

}
#herosection{
    margin-top: 5vw;
    border: none;
    width: 50vw;
    margin-left: 3vw;
    border-radius: 10px;
    background-color: #F9F6F9;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
}
#herotitle{

    font-family: "Inria Sans", sans-serif;
    font-weight: bold;
    font-size: clamp(0.4em, calc(0.5vw + 1rem), 4em);

}
#herotext{
    margin-top: 20px;
    line-height: 1.1;
    font-family: "Inria Sans", sans-serif;
    font-size: clamp(0.4em, calc(1.3vw + 1rem), 3em);
}

.heroconatinerimg{
    margin-top: 5vw;            
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.heroimg{
    border: none;
    width: 40vw;
    height: 18em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 300ms ease;

}
.heroimg:hover{
    transform: scale(1.1);
}

#heroimg1{
    background-image: url('images/help7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#heroimg2{
    background-image: url('images/help5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#supporttxt{
    margin-top: 20px;
    font-size: clamp(0.4em, calc(1.3vw + 1rem), 3em);
    color: #F018D3;
    font-family: "Inria Sans", sans-serif;

}
#arrow{
    font-size: clamp(0.4em, calc(1.3vw + 1rem), 3em);
    font-weight: bold;
}

#herobtn{
    background-color: #35EAF0;
    padding: 0.8em;
    font-size: clamp(0.4em, calc(0.5vw + 1rem), 3em);
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 300ms ease;

}
#herobtn:hover{
    transform: scale(1.1);
}


#moneyraisedtxt{
    font-size: clamp(0.4em, calc(1.3vw + 1rem), 3em);
    font-family: "Inria Sans", sans-serif;
    font-weight: 500;
    margin-top: 3em;
    margin-bottom: 3em;
}

/* footer section */
footer{
    margin-top: auto;
    background-color: #F9F6F9;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.199);
    text-align: center;
}


footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    margin-bottom: 3em;
    margin-top: 1em;
    margin-left: 1em;
}
footer ul #logofooter{
    margin-right: auto;
}
footer ul .Icons{
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: clamp(0.8em, calc(-1vw + 1rem), 4em);
    margin-top: 0.5em;
    margin-right: 3em;
    color:#35EAF0;
    transition: transform 300ms ease;
}

.Icons a:hover{
    transform: scale(1.1);
}
footer ul a{
    color: inherit;
    text-decoration: none;
}



#logofooter{
    font-size: clamp(1.2em, calc(1vw + 1rem), 4em);

}

#donatebtnfooter{
    background-color: #35EAF0;
    height: auto;
    padding: 0.4em;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 300ms ease;
}

#watermark{
    border:none;
    font-size: clamp(0.8em, calc(-1vw + 1rem), 4em);

}



/* Mobile devices and smaller screens */
/* ---------------------------- */
/* sidebar */
@media screen and (max-width: 900px) {
    #hideonmobile{
        display: none;
    }
    .sidebar{
        right: -100%;
    }
    #menu-icon{
    display: block;
    }
}

/* hero section rearrangement */
@media screen and (max-width: 1024px) {

    .herosectiondisplay{
        display: flex;
        flex-direction: column;
        padding: 0;
        border: none;
        align-items: center;
    }
    #herosection{
        top: 14vw;
        margin-left: 0;
        width: 100%;

    }

    .heroconatinerimg{
        display: flex;
        flex-direction: row;
    }
    /* footer ul .Icons{
        font-size: clamp(1em, calc(-2vw + 1rem), 4em);
    } */

}









